@{
  ViewData["Title"] = "Administration";
}

<div class="text-center">
  <h1 class="display-4">Admin</h1>
  <a class="btn btn-primary" asp-action="CreateEvents">Create Events</a>
  <a class="btn btn-primary" asp-action="SetTwitchListeners">Set Twitch Listeners</a>
</div>