@using fim_queueing_admin.Services
@model fim_queueing_admin.Controllers.AdminController.SetTwitchListenersModel
@inject TwitchListenerService Service
@{
  ViewData["Title"] = "Set Twitch Listeners";
}

<div class="text-center">
  <h1 class="display-4">Add Twitch Listener</h1>
</div>

<form asp-action="SetTwitchListeners" method="post">
  <div class="mb-3">
    <label asp-for="Usernames">Usernames</label>
    <textarea id="@Html.IdFor(x => x.Usernames)" name="@Html.NameFor(x => x.Usernames)" class="form-control">@(string.Join('\n', await Service.GetListenedChannels()))</textarea>
  </div>
  <div class="mb-3">
    <input type="submit" class="btn btn-primary" value="Submit" />
  </div>
</form>