@using Microsoft.AspNetCore.Mvc.TagHelpers
@using fim_queueing_admin.Data
@using fim_queueing_admin.Controllers
@model fim_queueing_admin.Controllers.CartController.CartManageModel
@inject FimDbContext DbContext
@{
  ViewData["Title"] = "Manage Cart";
}

<div class="container">
  <div class="text-center">
    <h1 class="display-4">Manage Cart</h1>
  </div>
  @{
    Cart? cart = null;
    if (ViewData["id"] is not null)
    {
      cart = await DbContext.Carts.FindAsync((Guid)ViewData["id"]!);
      if (cart is not null)
      {
        ViewData.Model = new CartController.CartManageModel
        {
          Name = cart.Name
        };
      }
    }
  }
  
  <div class="card my-3">
    <h5 class="card-header">Assist</h5>
    <div class="card-body">
      @if (!string.IsNullOrWhiteSpace(cart?.TeamViewerId))
      {
        <div class="text-center">
          <a href="teamviewer10://control?device=@cart.TeamViewerId" class="btn btn-primary">Open TeamViewer</a>
        </div>
      }
      else
      {
        <div class="alert alert-secondary" role="alert">
          This cart does not have a TeamViewer ID set.
        </div>
      }
    </div>
  </div>
  
  <h2>Information</h2>
  <form asp-action="Manage" method="post">
    <div class="form-group mb-2">
      <label asp-for="Name">Name</label>
      <input asp-for="Name" class="form-control" type="text" />
    </div>
    <div class="form-group mb-2">
      <label asp-for="TeamViewerId">TeamViewer ID</label>
      <input asp-for="TeamViewerId" class="form-control" type="text" />
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
  </form>

  @if (cart is not null)
  {
    <h2>Auth Information</h2>
    <dl>
      <dt>Auth Token <button class="btn btn-link" onclick="toggleAuthToken(this)">Show</button></dt>
      <dd>
        <input id="authToken" type="password" readonly value="@cart.AuthToken" />
      </dd>
    </dl>
  }
  
  <style>
    #authToken {
      all: unset;
      width: 100%;
    }
  </style>
  
  <script>
    function toggleAuthToken(el) {
      const inputElement = document.getElementById("authToken");
      if (inputElement.type === "password") {
        inputElement.type = "text";
        el.innerText = "Hide";
      } else {
        inputElement.type = "password";
        el.innerText = "Show";
      }
    }
  </script>
</div>
